<div class="context">
    <div class="nav">
        <p class="nav-title">Bienvenidx!</p>
        <div class="jugador">
            <p class="nav-title">Jugador:</p>
            <p class="nav-title">{{storageServ.getKey('jugador')}}</p>
        </div>
        <div class="buttons">
            <button mat-raised-button color="accent" (click)="openDialog()">Puntuaciones</button>
            <button mat-raised-button color="accent" (click)="cambiarJugador()">Cambiar de jugador</button>
        </div>
    </div>
    
    <div class="content">
        <div class="imagen-principal">
        </div>
        <div class="panel">
            <div class="reloj">
                <p>Al hacer click en "Iniciar" se mostrará un personaje que deberás buscar en la imagen de la izquierda.</p>
                <p>Cuando lo encuentres debes dar click en "Finalizar", se mostrará el tiempo que te tomó encontrarlo.</p>
                <div class="nombre-personaje">
                    <button mat-raised-button color="accent" *ngIf="!jugando" (click)="iniciar()" style="width: 90px;">Iniciar</button>
                    <button mat-raised-button color="accent" *ngIf="jugando" (click)="finalizar()" style="width: 90px;">Finalizar</button>
                    <p style="margin: 0;">{{this.personajeSeleccionado.nombre}}</p>
                </div>
                <img src="{{pathImage}}" *ngIf="pathImage" alt="" width="100%">
            </div>
        </div>
    </div>
</div>